.main-content {
    margin-left: 280px;
    margin-right: 0;
    min-height: 100vh;
    padding: 20px;
    max-width: calc(100vw - 280px);
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .main-content {
        margin-right: 0;
        max-width: calc(100vw - 280px);
    }
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        margin-right: 0;
        padding-top: 90px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100vw;
    }
}